<!DOCTYPE html>
<head>
</head>
<body>
<div th:fragment="header">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/index">
            <img src="https://cdn-icons-png.flaticon.com/512/817/817418.png" alt="..." style="width:40px;">
            Logo
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/index">首頁</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-bs-toggle="dropdown">
                        產品服務
                    </a>
                    <div class="dropdown-menu">
                        <!-- 只有管理員可以新增、修改、刪除商品資訊 -->
                        <a  class="dropdown-item" href="/addproduct" th:if="${session.userId == 1}">新增產品</a>
                        <a class="dropdown-item" href="/getproduct">搜尋產品</a>
                        <a class="dropdown-item" href="/updateproduct" th:if="${session.userId == 1}">修改產品</a>
                        <a class="dropdown-item" href="/deleteproduct" th:if="${session.userId == 1}">刪除產品</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-bs-toggle="dropdown">
                        會員服務
                    </a>
                    <div class="dropdown-menu">
                        <a  class="dropdown-item" href="/adduser" th:if="${session.userId == null}">註冊會員</a>
                        <!-- 只有管理員可以查看所有會員資訊 -->
                        <a class="dropdown-item" href="/getuser" th:if="${session.userId == 1}">查看會員</a>
                        <!-- 登入後才能使用修改密碼和查看訂單功能 -->
                        <a class="dropdown-item" href="/updateuser" th:if="${session.userId != null}">修改密碼</a>
                        <a class="dropdown-item" href="/getorder" th:if="${session.userId != null}">查看訂單</a>
                    </div>
                </li>
                <!-- 未登入的使用者才能使用登入功能 -->
                <li class="nav-item" th:if="${session.userId == null}">
                    <a class="nav-link" href="/login">登入</a>
                </li>
                <!-- 已登入的使用者才能使用登出功能 -->
                <li class="nav-item" th:if="${session.userId != null}">
                    <a class="nav-link" href="/logout">登出</a>
                </li>
            </ul>
            <span class="navbar-text" th:if="${session.userId != null}" th:text="'會員'+${session.email}+'您好'">
            </span>
            <a class="navbar-brand" href="/cart">
                <img src="https://cdn-icons-png.flaticon.com/512/8866/8866816.png" alt="..." style="width:40px;">
            </a>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="searchName">
                <button class="btn btn-primary" type="button" onclick="searchTitle()">Search</button>
            </form>
        </div>
    </div>
</nav>
</div>
</body>
</html>