<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首頁</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="header :: header">Header</div>
<div class="container">
    <div class="row g-2">
        <div class="col-md-3 pt-3">
            <ul class="list-group">
                <a class="list-group-item list-group-item-action" onclick="searchCategory('')">所有種類</a>
                <a class="list-group-item list-group-item-action" onclick="searchCategory('FOOD')">FOOD</a>
                <a class="list-group-item list-group-item-action" onclick="searchCategory('GAME')">GAME</a>
                <a class="list-group-item list-group-item-action" onclick="searchCategory('BOOK')">BOOK</a>
            </ul>
        </div>
        <div class="col-md-9 pt-2">
            <div class="row" id="card">
            </div>
        </div>
    </div>
    <div class="row justify-content-center align-items-center g-2">
        <div class="container mt-3">
            <ul class="pagination pagination-lg justify-content-center" id="pageIndex">
            </ul>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
<script src="/js/jquery-3.6.1.js" type="application/javascript"></script>
<script type="application/javascript">

    //獲取商品列表
    window.onload = function () {
        $.ajax({
            url: "/products",
            method: "get",
            dataType: "json",
            contentType: "application/json",
            data: {}
        }).done(function (res) {
            console.log(res);
            var productList = res.results;
            console.log(productList);
            $("#pageIndex").empty();
            $("#card").empty();
            productList.forEach(function (product) {
                $("#card").append("<div class=\"col-md-3 pt-2\">\n" +
                    "                        <div class=\"card h-100\" style=\"width: 240px\">\n" +
                    "                            <img src=\"" + product.imageUrl + "\"" + "class=\"card-img-top\" alt=\"...\" style=\"width: 100%\">\n" +
                    "                            <div class=\"card-body\">\n" +
                    "                                <h6 class=\"card-title\">" + product.productName + "</h6>\n" +
                    "                                <p class=\"card-text\">" + product.description + "</p>\n" +
                    "                                <p class=\"card-text\">NT$" + product.price + "</p>\n" +
                    "                                <button type='button' class=\"btn btn-primary\" onclick=\"addToCart('" + product.productName + "','" + product.productId + "')\">加到購物車</button>\n" +
                    "                            </div>\n" +
                    "                        </div>\n" +
                    "                    </div>");
            })
            var pageCount = res.total / 12;
            if (pageCount > 1) {
                for (var i = 0; i < pageCount; i++) {
                    $("#pageIndex").append("<li class=\"page-item\"><a class=\"page-link\" onclick=\"turnPage(" + i + ")\">" + (i + 1) + "</a></li>");
                }
            }
        })
    }

    //無搜尋條件下翻頁
    function turnPage(i) {
        $.ajax({
            url: "/products?offset=" + i * 12,
            method: "get",
            dataType: "json",
            contentType: "application/json",
            data: {}
        }).done(function (res) {
            console.log(res);
            var productList = res.results;
            console.log(productList);
            $("#card").empty();
            productList.forEach(function (product) {
                $("#card").append("<div class=\"col-md-3 pt-2\">\n" +
                    "                        <div class=\"card h-100\" style=\"width: 240px\">\n" +
                    "                            <img src=\"" + product.imageUrl + "\"" + "class=\"card-img-top\" alt=\"...\" style=\"width: 100%\">\n" +
                    "                            <div class=\"card-body\">\n" +
                    "                                <h6 class=\"card-title\">" + product.productName + "</h6>\n" +
                    "                                <p class=\"card-text\">" + product.description + "</p>\n" +
                    "                                <p class=\"card-text\">NT$" + product.price + "</p>\n" +
                    "                                <button type='button' class=\"btn btn-primary\" onclick=\"addToCart('" + product.productName + "','" + product.productId + "')\">加到購物車</button>\n" +
                    "                            </div>\n" +
                    "                        </div>\n" +
                    "                    </div>");
            })
        })
    }

    //藉由關鍵字獲取商品列表
    function searchTitle() {
        $.ajax({
            url: "/products?search=" + $("#searchName").val(),
            method: "get",
            dataType: "json",
            contentType: "application/json",
            data: {}
        }).done(function (res) {
            console.log(res);
            var productList = res.results;
            console.log(productList);
            $("#pageIndex").empty();
            $("#card").empty();
            productList.forEach(function (product) {
                $("#card").append("<div class=\"col-md-3 pt-2\">\n" +
                    "                        <div class=\"card h-100\" style=\"width: 240px\">\n" +
                    "                            <img src=\"" + product.imageUrl + "\"" + "class=\"card-img-top\" alt=\"...\" style=\"width: 100%\">\n" +
                    "                            <div class=\"card-body\">\n" +
                    "                                <h6 class=\"card-title\">" + product.productName + "</h6>\n" +
                    "                                <p class=\"card-text\">" + product.description + "</p>\n" +
                    "                                <p class=\"card-text\">NT$" + product.price + "</p>\n" +
                    "                                <button type='button' class=\"btn btn-primary\" onclick=\"addToCart('" + product.productName + "','" + product.productId + "')\">加到購物車</button>\n" +
                    "                            </div>\n" +
                    "                        </div>\n" +
                    "                    </div>");
            })
            var pageCount = res.total / 12;
            if (pageCount > 1) {
                for (var i = 0; i < pageCount; i++) {
                    $("#pageIndex").append("<li class=\"page-item\"><a class=\"page-link\" onclick=\"turnPageSearchTitle('" + $("#searchName").val() + "','" + i + "')\">" + (i + 1) + "</a></li>");
                }
            }
        })
    }

    //在關鍵字搜尋條件下翻頁
    function turnPageSearchTitle(searchName, i) {
        $.ajax({
            url: "/products?search=" + searchName + "&offset=" + i * 12,
            method: "get",
            dataType: "json",
            contentType: "application/json",
            data: {}
        }).done(function (res) {
            console.log(res);
            var productList = res.results;
            console.log(productList);
            $("#card").empty();
            productList.forEach(function (product) {
                $("#card").append("<div class=\"col-md-3 pt-2\">\n" +
                    "                        <div class=\"card h-100\" style=\"width: 240px\">\n" +
                    "                            <img src=\"" + product.imageUrl + "\"" + "class=\"card-img-top\" alt=\"...\" style=\"width: 100%\">\n" +
                    "                            <div class=\"card-body\">\n" +
                    "                                <h6 class=\"card-title\">" + product.productName + "</h6>\n" +
                    "                                <p class=\"card-text\">" + product.description + "</p>\n" +
                    "                                <p class=\"card-text\">NT$" + product.price + "</p>\n" +
                    "                                <button type='button' class=\"btn btn-primary\" onclick=\"addToCart('" + product.productName + "','" + product.productId + "')\">加到購物車</button>\n" +
                    "                            </div>\n" +
                    "                        </div>\n" +
                    "                    </div>");
            })
        })
    }

    //藉由商品種類獲取商品列表
    function searchCategory(categoryName) {
        $.ajax({
            url: "/products?category=" + categoryName,
            method: "get",
            dataType: "json",
            contentType: "application/json",
            data: {}
        }).done(function (res) {
            console.log(res);
            var productList = res.results;
            console.log(productList);
            $("#pageIndex").empty();
            $("#card").empty();
            productList.forEach(function (product) {
                $("#card").append("<div class=\"col-md-3 pt-2\">\n" +
                    "                        <div class=\"card h-100\" style=\"width: 240px\">\n" +
                    "                            <img src=\"" + product.imageUrl + "\"" + "class=\"card-img-top\" alt=\"...\" style=\"width: 100%\">\n" +
                    "                            <div class=\"card-body\">\n" +
                    "                                <h6 class=\"card-title\">" + product.productName + "</h6>\n" +
                    "                                <p class=\"card-text\">" + product.description + "</p>\n" +
                    "                                <p class=\"card-text\">NT$" + product.price + "</p>\n" +
                    "                                <button type='button' class=\"btn btn-primary\" onclick=\"addToCart('" + product.productName + "','" + product.productId + "')\">加到購物車</button>\n" +
                    "                            </div>\n" +
                    "                        </div>\n" +
                    "                    </div>");
            })
            var pageCount = res.total / 12;
            if (pageCount > 1) {
                for (var i = 0; i < pageCount; i++) {
                    $("#pageIndex").append("<li class=\"page-item\"><a class=\"page-link\" onclick=\"turnPageSearchCategory('" + categoryName + "','" + i + "')\">" + (i + 1) + "</a></li>");
                }
            }
        })
    }

    //在特定商品種類條件下翻頁
    function turnPageSearchCategory(categoryName, i) {
        var url = "/products?offset=" + i * 12;
        if (categoryName != "") {
            url = url + "&category=" + categoryName;
        }
        $.ajax({
            url: url,
            method: "get",
            dataType: "json",
            contentType: "application/json",
            data: {}
        }).done(function (res) {
            console.log(res);
            var productList = res.results;
            console.log(productList);
            $("#card").empty();
            productList.forEach(function (product) {
                $("#card").append("<div class=\"col-md-3 pt-2\">\n" +
                    "                        <div class=\"card h-100\" style=\"width: 240px\">\n" +
                    "                            <img src=\"" + product.imageUrl + "\"" + "class=\"card-img-top\" alt=\"...\" style=\"width: 100%\">\n" +
                    "                            <div class=\"card-body\">\n" +
                    "                                <h6 class=\"card-title\">" + product.productName + "</h6>\n" +
                    "                                <p class=\"card-text\">" + product.description + "</p>\n" +
                    "                                <p class=\"card-text\">NT$" + product.price + "</p>\n" +
                    "                                <button type='button' class=\"btn btn-primary\" onclick=\"addToCart('" + product.productName + "','" + product.productId + "')\">加到購物車</button>\n" +
                    "                            </div>\n" +
                    "                        </div>\n" +
                    "                    </div>");
            })
        })
    }

    //將商品加入購物車
    function addToCart(item, id) {
        if (Cookies.get("cartId") == null || Cookies.get("cartId") == "") {
            Cookies.set("cartId", id);
        } else {
            var currentId = Cookies.get("cartId");
            var ids = currentId.split(",");
            var index = ids.indexOf(id.toString());
            if (index > -1) {
                alert("購物車內已有" + item);
                return;
            }
            currentId = currentId + "," + id;
            Cookies.set("cartId", currentId);
        }
        alert("已加入" + item + "至購物車");
    }
</script>
</html>